@model IEnumerable<Candidate>

@if (Model.Count() == 0)
{
    <div class="display-6 alert alert-info">No applications</div>
    <a class="btn btn-primary" asp-action="Apply">Apply</a>
}
else
{
    <div class="display-6">Applications (@Model.Count())</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Full Name</th>
                <th>Age</th>
                <th>Course</th>
                <th>Apply At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var candidate in Model)
            {
                <tr>
                    <td>@candidate.Email</td>
                    <td>@candidate.FullName</td>
                    <td>@candidate.Age</td>
                    <td>@candidate.SelectedCourse</td>
                    <td>@candidate.ApplyAt</td>
                </tr>
            }
        </tbody>
    </table>
}